header {
  color: #AD0604;
  font-size: 60px;
  text-align: center;
  background-color: #212121;
  width: 100%;
  padding: 5px;
  text-decoration: bold;
}

body {
  font-family: "Arial Black";
  background-color: #313131;
}

.topicForm {
  padding: 20px;
  width:300px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
}
