.header{
  color: #AD0604;
  font-size: 60px;
  text-align: center;
  width: 100%;
  padding: 5px;
  text-decoration: none;
}

body {
  font-family: "Arial Black";
  background-color: white;
  text-align: center;
}

input[type='text'] {
  width:32%;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

.cta {
  width:250px;
  height:100px;
  line-height:100px;
  margin: 0 auto;
  background-color:#6C05C4;
  text-align: center;
  font-size: 40px;
  cursor: pointer; 
  box-shadow: 2px 2px 1px #888888;
}

.cta:hover {
  background-color:#AB56F5;
}

li{
  list-style: none;
  width: 500px;
  margin: 20px auto;
  text-align: center;
  background-color: #D4D4D4;
  font-size: 25px;
  padding: 10px;
  box-shadow: 2px 2px 1px #888888;
}

ul {
  padding:0;
}

.pageTitle {
  padding:20px;
}

.about {
  float: right;
}

input[type='range'] {
  width: 250px;
  -webkit-appearance: none;
  padding-left:2px; padding-right:2px;
  -webkit-border-radius: 5px;
  background-image: -webkit-linear-gradient(left, red, green);
  border-radius: 0;
}

.btn-primary {
  height: 100px;
  border-radius: 0;
  
}
