.header{
  color: #CC1700;
  font-size: 60px;
  text-align: center;
  width: 100%;
  padding: 5px;
  text-decoration: none;
}

body {
  font-family: "Arial Black";
  background-color: white;
  text-align: center;
}

input[type='text'] {
  width:32%;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

.cta {
  width:250px;
  height:100px;
  line-height:100px;
  margin: 0 auto;
  background-color:#1C64CC;
  text-align: center;
  font-size: 40px;
  cursor: pointer; 
  box-shadow: 2px 2px 1px #888888;
}

.cta:hover {
  background-color:#75A8F3;
}

li{
  list-style: none;
  width: 500px;
  margin: 20px auto;
  text-align: center;
  background-color: #D4D4D4;
  font-size: 25px;
  padding: 10px;
  box-shadow: 2px 2px 1px #888888;
}

ul {
  padding:0;
}

.pageTitle {
  padding:20px;
  color: #3D6399;
}

.about {
  float: right;
}

input[type='range'] {
  width: 250px;
  -webkit-appearance: none;
  padding-left:2px; padding-right:2px;
  -webkit-border-radius: 5px;
  background-image: -webkit-linear-gradient(left, lightcoral, lightgreen);
  border-radius: 0;
}

.btn-primary {
  display: hidden;
}

.good {
  color: green;
  background-color: lightgreen;
  background-image: url("assets/good.png");
  background-repeat: no-repeat;
}

.bad {
  background-color: pink;
  background-image: url("assets/bad.png");
  background-repeat: no-repeat;

}

.bad > .animationDiv {
  color: red;
  -webkit-animation: pulse2 3s linear infinite;
  -moz-animation: pulse2 3s linear infinite;
  -ms-animation: pulse2 3s linear infinite;
  animation: pulse2 3s linear infinite;
}

.meh {
  background-color: #FFFF9C;
  background-image: url("assets/meh.png");
  background-repeat: no-repeat;

}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }
 50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
