header {
  color: #AD0604;
  font-size: 60px;
  text-align: center;
  background-color: #212121;
  width: 100%;
  padding: 5px;
  text-decoration: bold;
}

body {
  font-family: "Arial Black";
  background-color: white;
  text-align: center;
}

.topicForm {
  padding: 20px;
  width:300px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
}

.cta {
  width:250px;
  height:100px;
  line-height:100px;
  margin: 0 auto;
  background-color:#6C05C4;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  cursor: pointer; 
}

.cta:hover {
  background-color:#AB56F5;
}
