<!-- This is the page is where topics are created -->
  <!-- The leader will have the opportunity do delete/combine topics -->
<div ng-controller="TopicsController as topicsList">
  <div class="pageTitle">
    Share this reflection: {{topicsList.sprintUrl}}
    <h2>ENTER DISCUSSION SUGGESTIONS</h2>
  </div>
  <!-- The form to enter topics -->
  <form ng-submit="topicsList.addTopic()" class="topicForm"> 
    <input type="text" required ng-model="topicsList.topicText"  class="textInput" placeholder="Enter a topic">
    <div></div>
    <!-- Click to post a topic -->
    <input style="visibility: hidden;" class="btn-primary" type="submit" value="add">
  </form>
    
  <ul>
   <li ng-repeat="topic in topicsList.topics">
     {{topic.text}} 
    </li>
  </ul>
  <div class="cta" ng-click="topicsList.startVote()">VOTE!</div>
</div>
  

