<!-- This is the page is where topics are created -->
  <!-- The leader will have the opportunity do delete/combine topics -->
<div ng-controller="TopicsController as topicsList" align="center">
  <div id="addtopics" class="pageTitle" align="center">
    <h2>Add survey topics</h2>
  </div>
  <!-- The form to enter topics -->
  <form name="kahsey" ng-submit="topicsList.addTopic()" class="topicForm" > 
    <input type="text" size="27" ng-model="topicsList.topicText" maxlength="24" class="textInput" placeholder="Enter a topic" ng-model="input" required />
  <div>
    <br>
    <input class="btn-primary" type="submit" value="add" ng-disabled="kaysey.$invalid || kahsey.$pending">
  </div>
  </form>
    
    
  <ul>
   <li ng-repeat="topic in topicsList.topics">
     {{topic.text}} 
    </li>
  </ul>

  <div ng-controller="TopicsController">
   <input type="button" value="Create survey link" ng-click="topicsList.create()" ng-model="createLink">
  <ul>
    <STRONG><br>
    <li ng-if="createLink">
      {{topicsList.sprintUrl}}<br>
    </li>
    </STRONG>
  </ul>
  <div align="center" ng-if="createLink">
  <input ng-controller="ResultsController as resultsList" type="button" value="View results" ng-click="resultsList.viewResults()">
</div>
  
  </div>
</div>


  
    <!-- <input class="btn-primary" type="submit" value="add"> -->


