<div>
  <div class="pageTitle">
    <h2>HOW DID THAT MAKE YOU FEEL?</h2>
  </div>

  <center ng-controller="VotesController as votesList">
    <form>
      <ul>
        <li ng-repeat="item in votesList.topics">
          {{ item.text }}
          <div></div>
          <input ng-model="item.vote" type="range" min="0" max="100" step="5" name="dislike/like" /> 
                    
          <div></div>
          <textarea name="comment" cols="40" rows="3" maxlength="140" placeholder="Enter a public comment (optional)"></textarea>
        </li>
      </ul>
      <div style="width:520px; margin: 0 auto;">
        <div style="float:left" class="cta" ng-click="votesList.vote()">VOTE!</div>
        <div class="cta" style="float:right;"ng-click="votesList.viewResults()">RESULTS</div> 
      </div>


    </form>
  </center>
</div
