<!-- Voting page -->
<div align= "center">
  <div class="pageTitle">
    <h2>Place votes below</h2>
  </div>
  <!-- Controller for voting -->
  <center ng-controller="VotesController as votesList">
    <form>
      <ul>
      <!-- Displays the topic to vote on -->
      <h4>*Bad -------- Good*</h4>
        <li ng-repeat="item in votesList.topics">
          {{ item.text }}
          <div></div>
          <!-- The slider for posting your vote, from 1 to 100 -->
          <input ng-model="item.vote" type="range" min="1" max="100" step="1" name="dislike/like" /> 
        </li>
      </ul>
      <div style="width:520px; margin: 0 auto;">
        <!-- This button will post your votes to the database -->
        <input type="button" style="float:center" ng-click="votesList.check()" value="VOTE!">
        <!-- This will navigate to the results view, showing the results of all the voting -->
      </div>
    </form>
  </center>
</div>