<!-- Voting page -->
<div>
  <div class="pageTitle">
    <h2>HOW DID THAT MAKE YOU FEEL?</h2>
  </div>
  <!-- Controller for voting -->
  <center ng-controller="VotesController as votesList">
    <form>
      <ul>
      <!-- Displays the topic to vote on -->
        <li ng-repeat="item in votesList.topics">
          {{ item.text }}
          <div></div>
          <!-- The slider for posting your vote, from 1 to 100 -->
          <input ng-model="item.vote" type="range" min="1" max="100" step="1" name="dislike/like" /> 
        </li>
      </ul>
      <div style="width:520px; margin: 0 auto;">
        <!-- This button will post your votes to the database -->
        <div style="float:center" class="cta" ng-click="votesList.vote(); votesList.viewResults()">VOTE!</div>
        <!-- This will navigate to the results view, showing the results of all the voting -->
        <!-- <div class="cta" style="float:right;"ng-click="">RESULTS</div>  -->
      </div>


    </form>
  </center>
</div
